.wrapper {
    position        : absolute;
    top             : 50%;
    left            : 50%;
    transform       : translate(-50%, -50%);
    width           : 350px;
    background-color: #e6e6e6;
    text-align      : center;
    border-radius   : 10px;
}

.input__wrapper {
    position: relative;
}

.input__wrapper i {
    position : absolute;
    top      : 50%;
    left     : 83%;
    transform: translate(0, -50%);
    cursor   : pointer;
    transform: translate3d(0, 0, 1);
}

span {
    font-size: small;
}

.correct {
    color: green;
}

.incorrect {
    color: white;
}

.error__pass {
    animation : shake 0.82s cubic-bezier(.36, .07, .19, .97) both;
    transform : translate3d(0, 0, 0);
    box-shadow: 0 0 1px 1px#F00;
}

@keyframes shake {

    10%,
    90% {
        transform: translate3d(-1px, 0, 0);
    }

    20%,
    80% {
        transform: translate3d(2px, 0, 0);
    }

    30%,
    50%,
    70% {
        transform: translate3d(-4px, 0, 0);
    }

    40%,
    60% {
        transform: translate3d(4px, 0, 0);
    }
}

input {
    font-family  : 'Oswald', sans-serif;
    font-size    : 16px;
    border       : none;
    border-radius: 31px;
    padding      : 0px 35px;
    height       : 62px;
    margin       : 10px 0px;
    width        : 65%;
}

[type="submit"] {
    width           : 50%;
    cursor          : pointer;
    color           : white;
    background-color: black;
}

[type="submit"]:hover {
    background-color: gray;
}

.taken {
    color: red;
}